@model WebAdvertising.Web.Models.Accounts.EmailConfirmationViewModel;

@{
    ViewData["Title"] = "Confirmation Succeded Page";
}


<div class="text-center">
    <h1 class="display-4">Success!</h1>
    <p>The e-mail address: @Model.Email was confirmed successfully!</p>
</div>
